{{extend 'layout.html'}}
{{if session.visit and len(session.visit):}}
<h3>Potwierdź swoją wizytę:</h3>
<h4>Na potwierdzenie masz 10 minut</h4>
<table>
    <tr>
        <th>Dzień:</th>
        <th>Godzina:</th>
        <th>Zatwierdź:</th>
    </tr>
    {{for item in session.visit:}}
    <tr>
        <td>{{=item[2]}}</td>
        <td>{{=item[3]}}</td>
        <td>{{=A('zatwierdź', _href=URL('pacjent', 'zatwierdz', args=[session.visit.index(item)]))}}
        </td>
    </tr>
    {{pass}}
</table>
{{pass}}

<h3>Potwierdzone wizyty:</h3>
{{=grid}}